@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Montserrat:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #3c87ff;
}

.wrapper{
    background: #fff;
    max-width: 405px;
    margin: 135px auto;
    border-radius: 7px;
    padding: 28px 0;
}

.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input img{
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%)
}

.task-input input{
    height: 100%;
    width: 100%;
    font-size:  18px;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0 20px 0 53px;
    outline: none;
}

.task-input input::placeholder{
    color: #bfbfbf;
}

.controls, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.filters span {
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}

.filters span.active {
    color: #3c87ff;
}

.filters span:first-child {
    margin-left: 0;
}

.controls .clear-btn {
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    padding: 7px 13px;
    background: #3c87ff;
}

.task-box {
    margin: 20px 25px; 
}

.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task-box .task label {
    display: flex;
    align-items: flex-start;
}

.task-box label p.checked {
    text-decoration: line-through;
}

.task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
}

.task label input {
    margin-top: 3px;
    margin-right: 12px;
}

.task .settings{
    cursor: pointer;
    position: relative;
}

.settings .task-menu{
    background: #fff;
    padding: 5px 0;
    z-index: 2;
    right: -5px;
    bottom: -65px;
    border-radius: 5px;
    position: absolute;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.settings .task-menu.show{
    transform: scale(1);
}

.task-menu li{
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    justify-content: flex-start;
    padding: 17px 15px;
}

.task-menu li:last-child{ 
    margin-bottom: 0;
}

.task-menu li:hover{
    background: #f5f5f5;
}

.task-menu li i {
    padding-right: 8px;
}

.copyright {
    text-align: center;
    color: #fff;
}

